/* src/styles.css */
.App {
  text-align: center;
  padding: 20px;
}

.container, .container-skeleton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 4px;
  color: #666;
}

/* Loading skeleton */
.loading {
  background-color: #f5f5f5;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.loading .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  animation: loadingCardAnimation 1.5s infinite ease-in-out;
}

@keyframes loadingCardAnimation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.loading .card h2 {
  margin: 0;
}

.loading .card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #ddd;
}

.loading .card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loading .card li {
  margin-bottom: 4px;
  background-color: #ddd;
}
